body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #000000 1%, #ff0000 99%);
}

 /*Slides e ação das fotos*/

.content {
    height: 450px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #000000;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.bar:hover {
    background-color: #ff0000;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width:25%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -25%;
}
#slide3:checked ~ .s1{
    margin-left: -50%;
}
#slide4:checked ~.s1{
    margin-left: -75%;
}


/* MENU */ 

* {
    margin: 0;
    padding: 0;
    
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #ff0000;
    transition: 0.5s;

}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    height: 50px;
 
    
}



.nav-list {
    list-style: none;
    display: flex;
}


.nav-list li {
     letter-spacing: 3px;
     margin-left: 32px;
}